.axis path,
.axis line {
	stroke:#eee;
	shape-rendering:crispEdges;
	fill:none;
	stroke-width:1px;
}
.axis text {
	font-family: sans-serif;
	fill:#eee;
	font-size: 18px;
}
.label {
  color:#eee;
  font-family: sans-serif;
  font-size: 11px;
}
#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    color:#e0e0e0;
    background-color: #555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}