div,
body {
  color:#fff;
  background-color: #333;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Links */
/*a,
a:focus,
a:hover {
  color: #fff;
}*/

/* Header and Forrter */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.footer {
  margin-top: 30px;
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}
.footer {
  color: rgba(255,255,255,.5);
}
.header-title{
  font-weight: bold;
}
/* Header Navigators */
.nav > li {
  display: inline-block;
}
.nav > li + li {
  margin-left: 20px;
}
.nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}


.container {
  width: 1000px;
}
.jumbotron {
  text-align: center;
  background-color: #444;
  color:#eee;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.chart-holder{
  margin-bottom: 10px;
  background-color: #444;
  border-radius: 4px;
  color:#eee;
}
.chart{
  width:1000px;
  height:600px;
}
.subchart{
  width:1000px;
  height:200px;
}
.table-striped>tbody>tr:nth-of-type(even) {
  border-style: none;
  background-color: #444;
}
.table-striped>tbody>tr:nth-of-type(odd){
  border-style: none;
  background-color: #333;
}
.circle{
  fill:red;
}
.circle:hover{
  fill: #eee;
}
.h{
  color:#2ae;
}
.h2{
  color: #2c7fb8;
}
.h4{
  color: #9ecae1;
}
.breadcrumb{
  float:right;
  background-color: silver;
  opacity: 0.3;
  color:red;
-webkit-box-shadow: 10px 10px 80px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 80px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 80px -1px rgba(0,0,0,0.75);
}

div .introjs-tooltipReferenceLayer{
  color:#fff;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
}